.nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    align-items: center;
    height:90px;
    
}

.nav ul {
    display: flex;
    gap: 53px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding:0;
    margin: 0;
    flex-grow: 1px;

}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400px;
}

.button{
         padding: 8px 16px;
         background-color: #4ade80;
         color:black;
         font-size: 20px;
         font-weight: 600px;
         cursor: pointer;
         
}

.button:hover{
    background-color: grey;
}

