.nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    align-items: center;
    height:90px;
    
}

.nav ul {
    display: flex;
    gap: 53px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding:0;
    margin: 0;
    flex-grow: 1px;

}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400px;
}
.nav ul li a:hover{
    background-color: gray;
}

.button{
         padding: 8px 16px;
         background-color: #4ade80;
         color:black;
         font-size: 20px;
         font-weight: 600px;
         cursor: pointer;
         
}

.button:hover{
    background-color: grey;
}




#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background:url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     color: bisque;

}

.btn{
    background-color:lightgreen;
    border: none;
    padding: 20px 40px;
    border radius: 20px;
    font size:22px;
    font-weight:bold;
    color:black;
    cursor: pointer;
}
.btn:hover{
         background-color:grey;
}

h1 span{
       color: lightgreen;
}

.card-section{
   padding: 60px 0px;
   text-align: center;
}

.card-container{
    display: flex;
    gap: 20px;
    padding: 0 50px;
    justify-content: center;
}
.card{
    background-color:aliceblue;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
}


.icon{
    background-color:rgb(255, 0, 85);
    background-color:rgb(255, 0, 85);
    margin: 0 auto 10px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.solution-container{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 5%;
}

.solution-text h2{
    font-size: 26px;
    margin: 10px 0px;
    color: black;

}

.solution-text p{
    color: blue;
    margin-bottom: 18px;
    line-height: 1.5;
    
}


.solution-image img{
    width: 100%;
    max-width:350px;
    height:auto;
}

.list li{
    margin-bottom: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 20px;
    color: black;
}
.list{
    list-style: none;
    padding:0px;
   
    
}

.list li::before{
    content:"\2713";
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color:seagreen;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.early-access{
    padding: 55px 0px;

    background:white;

    text-align: center;
}

.button{
    background-color: seagreen;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.early-container{
    background-color: aliceblue;
    padding: 40px;
    border-radius: 15px;
    max width:800px;
    margin:0 auto;

}

.text-line{
    font-size: 13px;
    color: grey;
    margin-top: 10px;
}
 .footer-inner{
          display: flex;
          justify-content: space-between;
          margin: 0px auto;
          align-items: center;
         
 }

 .brand-text {
    font-size: 14px;
    color: lightgray;
    margin: 5px 0 0;
 }

 .bottom-area{
    text-align: center;
    background-color: black;
    color: bisque;
    padding:40px 0px 20px;
    border: none;
    border-radius: 15px;
 }

.social-links a{
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}